<h2>List of tickets</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Issue Type</th>
    <th>Issue Description</th>
  </tr>
 
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.name %></td>
      <td><%= ticket.issue_id %></td>
      <td><%= ticket.issue_description %></td>
      <td><%= link_to 'Show', ticket_path(ticket) %></td>
      <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
      <td><%= link_to 'Destroy', ticket_path(ticket), method: :delete, data: {confirm: 'Are you sure?'}%></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Ticket', new_ticket_path %>